.header__select {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 350px;
  width: 100%;
}

.header__select-label {
  width: 35%;
  margin-right: 10px;
  margin-bottom: 0;
  color: white;
}

.header__input {
  width: 55%;
}